<h1>登录</h1>  

<%= form_tag admin_sessions_path do %>  
	<div class="field">  
		<%= label_tag "用户名" %>  
		<%= text_field_tag :email, params[:email] %>  
	</div>  
	<div class="field">  
		<%= label_tag "密码" %>  
		<%= password_field_tag :password %>  
	</div>  
	<div class="field">  
		<%= check_box_tag :remember_me, 1, params[:remember_me] %>  
		<%= label_tag "记住我" %>  
	</div>  
	<div class="actions"><%= submit_tag "登录" %></div>  
<% end %>  